.main-container {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.post-form h2 {
    color: aliceblue;
}

.input-label {
    color: #000;
}

.input-div select {
    cursor: pointer;
}